
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ee Hsin's Stock Portfolio</title>
    <link rel="stylesheet" href="/css/email_registration.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/guide.css">
    <link rel="stylesheet" href="/css/navbar_footer.css">
    <%- include('./partials/favicon')%>
</head>

<body class="d-flex flex-column vh-100 guide">
    <%- include('./partials/navbar')%>
    <main class="container-fluid mt-5">
        <%- include('./partials/flash')%>
        <div class="container-fluid main-block p-3">
            <div class="row mb-4">
                <div class="col-md-12">
                    <ul>
                        <li><a href="#section1">Investing Principles</a></li>
                        <li><a href="#section2">Great Businesses</a></li>
                        <li><a href="#section3">Valuation</a></li>
                        <li><a href="#section4">When to Buy</a></li>
                        <li><a href="#section5">When to Sell</a></li>
                        <li><a href="#section6">Categories</a></li>
                        <li><a href="#section7">Resources</a></li>
                    </ul>
                </div>
            </div>
            <!-- Additional Resources -->
            <div class="row">
                <div class="card col-12 p-0" id="section1">
                    <h2 class="card-header">Basic Investing Principles</h2>
                    <div class="card-body">
                        <h5 class="card-title">These are some pretty basic core investing principles:</h5>
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-7 p-0 mr-0">
                                    <ol>
                                        <li>Only invest with money you won't need within the next 3-5 Years
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                If the stock market crashes, or the economy goes into depression, or you lose your job,
                                                you don't want to be forced to sell at the lows when you really should be buying instead.
                                            </details>
                                        </li>
                                        <li>The Major Stock Market Indexes (Like the S&P500 & Dow Jones etc) will always go up in the long run. 
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                This is due to inflation, population growth,
                                                productivity growth and index rebalancing.
                                            </details>
                                        </li>
                                        <li>
                                            Never act on predictions of analysts or economists in the news, they are all idiots. Don't invest based on where you predict the market will go in the
                                            short term. 
                                        </li>
                                        <li>
                                            The Stock market and the economy don't move together. The stock market tends to be ahead by 6-12 months and will bottom just as recessions start.
                                        </li>
                                        <li>
                                            Trying to time the market by selling at tops and buying at bottoms won't pan out well for you.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                It's Cliche, but time in the markets beats timing the markets, the majority of stock gains are made in single days. Here is a graph of your returns
                                                if you missed just a few of the best performing days in the market:
                                                <img src="/images/difficulty_to_time_market.jpg" alt="">
                                            </details>
                                        </li>
                                        <li>
                                            Invest in fundamentally great businesses with conservative debt, strong economic moats and a strong track record of increasing earnings and cash flow.
                                        </li>
                                        <li>
                                            Paying too much for a great business is a bad investment.
                                        </li>
                                        <li>
                                            Maintain a diversified portfolio of defensive, growth, ETFs, speculative, and cyclical stocks across various industries.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                An example allocation would be 40% growth, 35% defensive, 10% ETFs, 5% cylical, 5% speculative, and 5% turnarounds. However, this is largely down to one's needs
                                                and how much drawdown they are willing to risk. For example, Youths in their 20's can have 50% growth, 30% defensive, 10% speculative, and 10% ETFs.
                                            </details>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-3 offset-md-1">
                                    <div class="blockquote-container">
                                        <blockquote class="blockquote p-0 mb-0 ml-0">
                                            <p>
                                                “The stock market is a device for transferring money from the impatient to the patient”
                                            <footer class="blockquote-footer">Warren Buffet</footer></p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </p>
                      </div>
                </div>
                <div class=" card col-12 p-0" id="section2">
                    <h2 class="card-header">How to Pick Great Businesses</h2>
                    <div class="card-body">
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">I provide a list of great businesses in my portfolio section, but it's not hard for you to identify some for yourself:</h5>
                                    <ol>
                                        <li>Ask yourself what businesses you use on a day-to-day basis, if all you did was invest in companies you used, you'd make a lot of money.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                I spend 2 hours a day on Youtube, have all my work on Google Drive and google programming questions all the time. Chances are you do too,
                                                and that is enough reason to take a look at Google as a potential stock to invest in.
                                            </details>
                                        </li>
                                        <li>An alternative method, is to think of products or industries, and see which companies pop into your head.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                When I think of social media, I think of Facebook. When I think of fast food, I think of McDonalds, when I think of phones, I think Apple. 
                                                Credit Cards - Mastercard, Online Shopping - Lazada (which is owned by BABA), Cloud Computing - AWS.
                                            </details>
                                        </li>
                                        <li>
                                            Now that you've identified these businesses, take a look at their competitors. We want businesses that have monopolies over their industries, or at least very
                                            few competitors.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                Google is a monopoly, Amazon is a monopoly. Nike is not a Monopoly, but it is very far ahead of its closest competitor in Adidas. On the other hand,
                                                airline companies like Delta and Air Asia have many competitors and therefore don't have wide economic moats.
                                            </details>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="card-title">Once you identified these companies, you want to take a look at their financials:</h5>
                                    <ol>
                                        <li>Stock should have a history of increasing earnings and cash flow. As Peter Lynch says, if the earnings aren't growing, the stock price isn't going anywhere.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                This inspires confidence that the company can continue to grow its earnings at its expected pace. If a company's earnings have been declining
                                                at 2% for the past 3 years, and analysts predict it will grow at 8% for the next 3-5 years, it's unlikely the company will meet those standards.
                                                Whereas, if a company has grown its earnings by 30% the past 3 years, and analysts expect future growth of 15%, you can be very confident in the 
                                                company's ability to perform when you factor that 15% growth rate in your valuation.
                                            </details>
                                        </li>
                                        <li>Conservative debt. A business with no debt can't go bankrupt.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                Key financial indicators for debt are: Current Ratio (should be above 1), Debt/Equity (should be below 1.5), and the Debt-to-EBITDA ratio (should be under 3). 
                                            </details>
                                        </li>
                                        <li>
                                            Strong returns on equity. You want to make sure your shareholder's equity is yielding a good return. 
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                An ROE of 12-15% usually entails a great business.
                                            </details>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </p>
                      </div>
                </div>
                <div class=" card col-12 p-0" id="section3">
                    <h2 class="card-header">How to Value a Stock</h2>
                    <div class="card-body">
                        <h5 class="card-title">There are many ways to value a stock:</h5>
                        <p class="card-text">
                            <ol>
                                <li><b>Discounted Cash Flow Method (#)</b>
                                    <p>This is the one I use, it's the best one, and the one most investors use. It projects all the cash a stock will generate over a period of time
                                        (usually 20 years), and discounts it back to current value.</p>
                                </li>
                                <li><b>Historical P/E and PEG Ratio</b>
                                    <p>
                                        P/E stands for Price / Earnings. For Historical P/E, we compare the current P/E ratio vs the Historical P/E ratio. On the other hand, the PEG ratio is the PE ratio of the stock, divided by
                                        its growth rate. A ratio of 1.5 or lower means the stock is undervalued, but this is an 'outdated' method invented in the 80's that
                                        generally undervalues most stocks.
                                    </p>
                                </li>
                                <li>
                                    <b>P/B Ratio</b>
                                    <p>This is really only applicable to financial stocks like Banks, it stands for Price/Book. We compare the current day P/B ratio to historical P/B ratios.</p>
                                </li>
                            </ol>
                        </p>
                      </div>
                </div>
                <div class="card col-12 p-0" id="section4">
                    <h2 class="card-header">When to Buy</h2>
                    <div class="card-body">
                        <h5 class="card-title">Never FOMO, these are principles you should follow when deciding when to buy:</h5>
                        <p class="card-text">
                            <div class="row">
                                <div class="col-md-6">
                                    <ol>
                                        <li>Never buy when the Stock is overvalued
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                As mentioned in the investing principles section, if you pay too high a price for a great business, it's still a bad investment.
                                                Generally overvalued means 5-10% more than the intrinsic value you calculated.
                                            </details>
                                        </li>
                                        <li>Buy when the stock hits a Key Moving Average where it has historically found support.
                                            <details> <summary class = "bottom-border">More Info</summary>
                                                The exact moving averages where the stock bounces goes on a stock-to-stock basis, but I generally like to use the 20,40,50,100,150 and 200 moving
                                                averages as reference. For example, Microsoft typically bounces at the 20EMA on the Weekly chart for normal retracements, and the 50MA during bear
                                                markets. Knowing this, I'd buy Microsoft every time it hits the 20EMA and is undervalued. And would buy a full allocation when it hits the 50MA. (If I didn't
                                                already have a full allocation)
                                                <img src="/images/Microsoft_3_Year_Weekly_Chart.jpg" alt="">
                                            </details>
                                        </li>
                                        <li>
                                            Buy in tranches. (Dollar Cost Averaging)
                                            <details><summary>More Info</summary>
                                                Generally, it is not a good idea to buy a full allocation into a stock the moment it becomes undervalued and hits a key moving average. What is best,
                                                is to have a planned allocation for a stock. So, if you have 20 stocks in your $10,000 portfolio, then you can allocate $500 to each stock. And you can
                                                buy $125(1/4) worth of a stock when it hits a key moving average, if it continues to fall to the next level, you can add another (1/4) of a position and so
                                                on, until you have a full position. 
                                            </details>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-5">
                                    <div class="blockquote-container">
                                        <blockquote class="blockquote mb-0">
                                            <p>
                                                “If you can’t convince yourself “When I’m down 25 percent, I’m a buyer” and banish forever the fatal thought 
                                                “When I’m down 25 percent, I’m a seller,” then you’ll never make a decent profit in stocks.”</p>
                                            <footer class="blockquote-footer">Peter Lynch in<cite title="Source Title"> One Up On Wall Street</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="card col-12 p-0" id="section5">
                    <h2 class="card-header">When to Sell</h2>
                    <div class="card-body">
                        <h5 class="card-title">The Only Times we Sell:</h5>
                        <p class="card-text">
                            <ol>
                                <li>When the stock fundamentals deteriorate
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        If a stock loses its economic moat, then it is time to sell, and ideally, redploy the capital into a better investment.
                                    </details>
                                </li>
                                <li>There is a better Investment to redeploy the capital in
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        The exact moving averages where the stock bounces goes on a stock-to-stock basis, but I generally like to use the 20,40,50,100,150 and 200 moving
                                        averages as reference. For example, Microsoft typically bounces at the 20EMA on the Weekly chart for normal retracements, and the 50MA during bear
                                        markets. Knowing this, I'd buy Microsoft every time it hits the 20EMA and is undervalued. And would buy a full allocation when it hits the 50MA. (If I didn't
                                        already have a full allocation)
                                    </details>
                                </li>
                                <li>It is massively overvalued (over 30%+)
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        Generally, I prefer to sell only when a stock is 50%+ overvalued, because in the stock market, high can go higher. But ultimately, if the company is a great business. Holding
                                        on to the stock when it is over 50% overvalued is not a bad decision either. Often you sell, and don;t get the chance to get back in for a few years. It pretty much
                                        only makes sense to sell if you know there is a better alternative investment you can put your money in.
                                    </details>
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
                <div class="card col-12 p-0" id="section6">
                    <h2 class="card-header">The Different Stock Categories:</h2>
                    <div class="card-body">
                        <h5 class="card-title">There are a few</h5>
                        <p class="card-text">
                            <ol>
                                <li>Large Cap Growth
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        These comprises 45% of my portfolio, and includes large monopolistic companies that still have room to grow, like Amazon, Google, and Microsoft.
                                        Typically, these grow from 15-35%+, and are more volatile than most other stocks, but have historically performed very well/
                                    </details>
                                </li>
                                <li>Large Cap Predictable
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        These comrpise around 35% of my portfolio, and are the defensive companies (Though note not all of them are defensive). These can be seen as Stalwarts,
                                        as Peter Lynch calls them, and will usually grow at 8-10%. Examples include McDonalds, PepsiCo, CostCo, Walmart, and Proctor & Gamble.
                                    </details>
                                </li>
                                <li>Cyclical
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        I generally stay away from most cyclicals like Cars, Oil & Gas, and Airlines. However, I have invested in Banks though note, these are not "Buy and Hold"
                                        companies, so generally these are the "Buy Low and Sell High" companies as opposed to the "Buy and Hold Forever" companies that comprise the other
                                        stock categories.
                                    </details>
                                </li>
                                <li>Speculative Growth
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        These are, as their title suggests, extremely speculative. Usually these are small growth companies that have yet to turn even a small profit. 
                                        I do not recommend having more than 5% in your portfolio at any one time (with 10% being the upper limit). Though when these go up, they go up
                                        fast. A notable Example would be Meituan DianPing, which has 5x its value over the last year.
                                    </details>
                                </li>
                                <li>Turnaround
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        These are once great companies that have fallen due to crisis of some sort. A great example would be boeing, who was in huge turmoil during the
                                        coronavirus crisis.
                                    </details>
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
                <div class="card col-12 p-0" id="section7">
                    <h2 class="card-header">Additional Resources:</h2>
                    <div class="card-body">
                        <h5 class="card-title">These are links to books featuring the most successful Investors of all time</h5>
                        <p class="card-text">
                            <ol>
                                <li>Peter Lynch's One Up On Wall Street
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        Peter Lynch is a legendary investor who achieved returns of 35% for 10 years straight in the 80's. 
                                        <a href="https://www.engbookspdf.com/books-drive/One-Up-On-Wall-Street">This is a link to one of his most famous books.</a>
                                    </details>
                                </li>
                                <li>The Intelligent Investor
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        Written by Benjamin Graham, the mentor of Warren Buffet, this is every value investor's bible. 
                                        <a href="https://www.reddit.com/r/investing/comments/b3bk2h/the_intelligent_investor_pdf_resource/">Refer to here for more Info.</a>
                                    </details>
                                </li>
                                <li>Market Wizards
                                    <details> <summary class = "bottom-border">More Info</summary>
                                        Jack Schwager interviews the most famous and successful wall street traders and investors of all time. 
                                        <a href="http://dl.fxf1.com/files/books/english/Jack%20Schwager%20-%20Stock%20Market%20Wizards.pdf">Refer to it here.</a>
                                    </details>
                                </li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
        
</body>

</html>