h1 {
    font-size: 3rem;
}

#email {
    width: 13rem;
}

#email-feedback{
    font-weight: 300;
    font-style: italic;
}

#email-feedback.valid{
    color: #05a148;
}

#email-feedback.invalid{
    color: red;
}

input{
    max-width: 100%;
}
textarea {
    max-width: 100%;
}
main {
    width: 70%;
    margin-left: 15%;
    padding: 1% 2%;
    background-color: rgba(130,174,232,0.85);
    color: 
}

body {
    background-color: #d6d3bb;
    background-blend-mode: difference;
    background-image: url('/images/wall_street_sign.jpg'),url('/images/suit_man_phone.jpg');
}

.navbar {
    opacity: 0.85;   
}

.nav-link {
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

h3.web-page-name{
    font-weight: 300;
    color: white;
    margin-right: 0.8rem;
}

.footer {
    opacity: 0.75;   
}

@media (max-width: 205px){
    h1{
        display: none;
    }
}

@media (max-width: 229px){
    h2{
        display: none;
    }
}

@media (max-width: 400px){
    main {
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 770px){
    #email-feedback{
        display: block;
    }
    main {
        width: 80%;
        margin-left: 10%;
    }
}
