h1 {
    border: rgba(163, 130, 39, 0.65) solid;
    border-width: 0.1rem;
    background-color: rgba(38,41,8,0.9);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    width: 50%;
    margin: 1rem 25%;
    display: flex;
    justify-content: center;
}

h1:hover {
    border-color: rgba(210, 222, 124, 0.9);
    border-width: 0.2rem;
    transition: 0.1s;
}

.card-title{
    font-size: 1.6rem;
}

.card-text {
    color: rgb(253, 191, 75);
}

.card-text .text-muted {
    color:white;
    font-size: 1rem;
    font-weight: 600;
}

body {
    /* background-color: #d6d3bb;
    background-blend-mode: darken;
    background-image: url('/images/new_york_sky_shot.jpg'),url('/images/fearless_girl.jpg');
    background-size: cover; */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(6,6,98,1) 0%, rgba(108,144,240,1) 35%, rgba(0,212,255,1) 100%); */
    background: rgb(189,152,152);
    background: linear-gradient(90deg, rgba(189,152,152,1) 0%, rgba(134,137,153,1) 49%, rgba(19,100,159,1) 100%);
}
body.register-or-login{
    background-image: url('/images/jersey_city.jpg');
    background-size: cover;
}

.img-fluid {
    max-height: 15rem;
}
.card {
    color: white;
    background-color: rgba(38,41,8,0.9);
    margin-bottom: 1%;
    padding: 0.15rem;
    border-radius: 1%;
    border: rgba(241, 231, 231, 0.5) solid; 
}

.card:hover{
    background-color: rgba(38,41,8,1);
    transition: 0.1s;
    border-width:0.3rem;
    border-style: solid;
    border-color: rgba(210, 222, 124, 0.9);
}

.btn-primary {
    background-color: orange;
    border: transparent;
}

.btn-primary:visited {
    background-color: orange;
    transition: 0.25s;
}

.btn-primary:focus {
    background-color: rgb(129, 16, 33);
    transition: 0.25s;
}

.btn-primary:hover {
    background-color: rgb(176, 18, 41);
    transition: 0.25s;
    border: solid rgb(222, 165, 124,0.9);
}

.btn-primary:active {
    background-color: rgb(129, 16, 33);
    transition: 0.25s;
    border: solid rgba(221, 118, 45, 0.9);
}


@keyframes blink {
    0%{
        border: rgb(209, 142, 18) solid;
    }
    50%{
        border: yellow solid;
    }
    80%{
        border: red solid;
    }
    100%{
        border:rgb(207, 146, 15) solid;
    }
}

.card.register-or-login{
    border-width: 0.5rem;
    animation: blink 10s infinite;
}

.card.register-or-login:hover{
    animation: none;
    border: none;
}

.returns-positive{
    color: #4ca54c;
}

.returns-negative{
    color: #b51a28;
}

.loading{
    color: #84898a;
}

@media (max-width: 276px){
    h1{
        display: none;
    }
}
