@font-face{
    src: url(fonts/Lyon-Regular.ttf);
    font-family: Lyon;
}

.guide{
    background: #b6aeb5;
    background-size: cover;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    padding-right: 0;
    padding-left:0;
    background-color: #13315C;
    box-shadow: 2px 0px 5px black;
    display:flex;
    justify-content: space-evenly;
}

ul li{
    margin: 0.2vw;
    padding: 0.2vw;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    font-weight: 700;
}

ul li a:hover{
    color: rgb(250, 162, 29);
}

@media (max-width: 701px){
    ul{
        flex-direction: column;
    }
    ul li{
        display: inline;
    };
}

.card{
    margin-bottom: 2%;
    max-width: 80%;
    margin-left: 10%;
    border: 0px;
}

.card-title{
    font-weight: 500;
    font-size: calc(1.6rem + 0.3vw);
    padding-bottom: 1rem;
    text-decoration: underline 2px #8DA9C4;
}

.col-md-6 .card-title{
    padding-left: 10%;
    max-width: 80%;
    text-align: center;
    /* border-bottom: 5px solid red; */
}

.card-body{
    background-color: #EEF4ED;
}

.card-body, .card-body *{
    font-family: Lyon;
}

.card-header{
    background-color: #8DA9C4;
    font-size: 3.5rem;
    text-align: center;
}

.blockquote-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

blockquote{
    border: #8da9c4 solid 2px;
    max-width: calc(300px + 12vw);
    min-width: 180px;
}

blockquote p{
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 500;
}

.blockquote-footer{
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
    font-size: calc(0.8rem + 0.5vw);
    padding-bottom: 0rem;
}

.blockquote-footer cite{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
}

.bottom-border{
    border-bottom: rgba(105, 134, 139, 0.8) solid 0.1rem;
}

.edu-point{
    margin-bottom: 0.5rem;
}

summary{
    width: 95%;
}

details{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em;
    margin-left: 0.2rem;
    max-width: 200px;
}

details:hover{
    background-color: #b0cce6;
}

details[open] {
    padding: .5em;
    background-color: #b0d5f8;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.card{
    font-size: 1.2rem;
}

.card li{
    margin-bottom: 0.5rem;
}

li b{
    border-bottom: solid 3px #df4802;
}

img {
    width: 100%;
}

.chart-wrapper{
    text-align: center;
    padding: 3rem;
    padding-top: 0;
}

.chart-wrapper h2{
    margin-bottom: 15px;
}

#stockCategoryChart{
    min-width: 200px;
    min-height: 200px;
}

@media (max-width: 1250px){
    .card{
        max-width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 950px){
    .card{
        max-width: 94%;
        margin-left: 3%;
    }
    .chart-wrapper{
        padding: 2rem;
        padding-top: 0;
    }
}

@media (max-width: 767px){
    .card{
        max-width: 98%;
        margin-left: 1%;
    }
    .chart-wrapper{
        padding: 1rem;
        padding-top: 0;
    }
}