* {
    font-family: 'Economica', sans-serif;
}

h3{
    font-size: 3rem;
}

nav{
    background-color: rgb(43, 41, 41);
    opacity: 0.75;
    padding: 0.5rem 1rem;
}
.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-size: 1.3rem;

}

.nav-link:hover{
    color: rgba(255,255,255,0.8);
    border-bottom-color:rgba(255,255,255,0.5);
    transition:0.2s;
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}

@keyframes animate{
    0%{
        background-image: url('/images/home_page_picture3.jpg');
    }
    12%{
        background-image: url('/images/home_page_picture2.jpg');
    }
    32%{
        background-image: url('/images/home_page_picture3.jpg');
    }
    55%{
        background-image: url('/images/home_page_picture.jpg');
    }
    67%{
        background-image: url('/images/home_page_picture2.jpg');
    }
    82%{
        background-image: url('/images/home_page_picture3.jpg');
    }
}

body {
    height: 100vh;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.animated-background{
    background-image: url('/images/home_page_picture2.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    transition: 0.2s;

    animation-name: animate;
    animation-direction: alternate-reverse;    
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out; 
}

.cover-container {
  max-width: 60vw;
}

.btn-secondary{
    text-shadow: none;
}

.btn-secondary:hover{
    background-color: rgb(176, 18, 41);
    transition: 0.25s;
}

/* #website_description{
    background-color: black;
    padding-top: 1.2rem ;
    padding-bottom: 1.2rem ;
} */

#website_description:hover{
    color: rgb(255, 182, 46);
}


@media (max-width: 270px){
    #website_description {
        display: none;
    }
}
