body {
    /* background-color: #d6d3bb;
    background-blend-mode: darken;
    background-image: url('/images/new_york_sky_shot.jpg'),url('/images/fearless_girl.jpg');
    background-size: cover; */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(6,6,98,1) 0%, rgba(108,144,240,1) 35%, rgba(0,212,255,1) 100%); */
    background: rgb(189,152,152);
    background: linear-gradient(90deg, rgba(189,152,152,1) 0%, rgba(134,137,153,1) 56%, rgb(90, 114, 150) 100%);
}

.main-block{
    padding: 1rem;
    background-color: rgba(194, 173, 173,0.5);
}

/* The h1 and h2 at the top */
.title{
    padding-bottom: 0.5rem;
    border-bottom: outset rgba(202, 138, 41, 0.938) 0.2rem;
    margin-bottom: 0.8rem;
}

.title h1{
    font-size: max(3rem,3.5vw);
}

.title h2{
    font-size: max(1.5rem,2vw);
    text-align: right;
}

.secondary-title{
    padding: 0.1rem;
}
.secondary-title h2{
    font-size:1.7rem;
}

.bottom-border{
    border-bottom: rgba(139, 118, 105, 0.8) solid 0.1rem;
}

/* Designing the Ticker Symbol link (Need to follow this LoVe Fears HAte format) */
h2 a {
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 3px 3px 0;
    font-weight: 500;
    font-size: 2.5rem;
  }
  
h2 a:link {
    color: rgba(54, 37, 25, 0.8);
    text-decoration: none;
  }
  
  a:visited {
    color: rgba(54, 37, 25, 0.8);
    text-decoration: none;
  }
  
  a:focus {
    border-bottom: 2px solid;
  }
  
  a:hover {
    border-bottom: 2px solid;
  }
  
  a:active {
    background: rgba(235, 216, 216, 0.8);
  }

.returns-label{
    font-size: calc(1.2rem + 1.6vw);
}

.returns-positive{
    font-size: calc(2.2rem + 2.1vw);
    color: #206303;
}

.returns-neutral{
    font-size: calc(2.2rem + 2.1vw);
    color: #15290d;
}

.returns-negative{
    font-size: calc(2.2rem + 2.1vw);
    color: #b51a28;
}

.undervalued {
    color: #257901;
}

.signif-undervalued {
    color: #1b5303;
    font-weight: 700;
}

.overvalued {
    color: #b43944;
}

.description-title h3{
    font-size: 2.6rem;
    text-decoration: underline green;
}

.description{
    font-size: 1.3rem;
}

.price-chart h3{
    font-weight: 700;
    font-size: 2.5rem;
}

.ROE{
    color: #527fc2;
    font-weight: 700;
    font-size: calc(2.5rem + .8vw);
}

.debt-bad{
    color: #af0a04;
    font-size: calc(2.5rem + .8vw);

}

.debt-good{
    color: #5c9c70;
    font-size: calc(2.5rem + .8vw);

}

.loading{
    color: #84898a;
}

#currentPrice{
    font-weight: 700;
}

#restricted{
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 700;
    color:rgb(155, 100, 19)
}

.portfolio-allocation{
    font-size: calc(2rem + 1.3vw);
    color: #15290d;
}