<% layout('layouts/boilerplate')%>
<h1>The Portfolio Index Page!</h1>

<% if (currentUser && currentUser._id == adminId) { %>
    <a href ="/portfolio/new">Add New Stock</a>
<% } %>
<% for (let stock of stocks) {%>
    <li><a href="/portfolio/<%= stock._id %>"><%= stock.name %></a></li>
<% }%>