<% layout('layouts/boilerplate')%>
<form action="/portfolio" method="POST" enctype="multipart/form-data">
    <div>
        <label for="name">Name of Stock</label>
        <input type="text" id="name" name="stock[name]">
    </div>
    <div>
        <label for="ticker">Ticker</label>
        <input type="text" id="ticker" name="stock[ticker]">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" name="stock[price]">
    </div>
    <div>
        <label for="units">Units</label>
        <input type="number" id="units" name="stock[units]">
    </div>
    <div>
        <label for="IV">Intrinsic Value</label>
        <input type="text" id="IV" name="stock[IV]">
    </div>
    <div>
        <label for="category">Category</label>
        <input type="text" id="category" name="stock[category]">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="stock[description]">
    </div>
    <div>
        <div class="form-file custom-file col-3">
            <input type="file" class="form-file-input" id="image" name="image" multiple>
            <label class="form-file-label" for="image">
                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                <span class="form-file-button">Browse</span>
            </label>
        </div>    
    </div>
    <button>Add Stock</button>
</form>
<a href="/portfolio">All Stocks</a>